  @{
  Layout = "_Layout";
}
<h1>Welcome to the Registrar!</h1>

<h3><a href='/courses/'>View courses</a></h3>
<br>

<p>@Html.ActionLink("See all student", "Index", "Students")</p>
<p>@Html.ActionLink("See all courses", "Index", "Courses")</p>