@{
  Layout = "_Layout";
}

@using UniversityRegistrar.Models;
@model List<Student>;

<h1>Students</h1>

<ul>
  @foreach(Student student in Model)
  {
  <li>
    
    @Html.ActionLink($"{student.Description}", "Details", new { id = student.StudentId})

  </li>   
  }

</ul>

  <a name="date">@Html.ActionLink("Sort by date", "Index", "Students", new {sortBy = "date"})</a>
<p>@Html.ActionLink("Add new student", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>